{% extends 'base.html' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">Users</div>
                    <div class="card-body">
                        {% for user in users %}
                            {{ user.user.username }}
                            <div class="m-2">
                                {% if user.status.status == 'ACCEPTED' %}
                                    <div>
                                        <div class="m-3">
                                            <span class="alert alert-success">ACCEPTED</span>
                                        </div>
                                        <div class="m-3">
                                            <form method="post" action="/chatCreation/">
                                                {% csrf_token %}
                                                <input type="hidden" name="receiver" value="{{ user.user.id }}">
                                                <input type="submit" class="btn btn-outline-success" value="Chat">
                                            </form>
                                        </div>
                                    </div>
                                {% elif user.status.status == 'PENDING' %}
                                    <span class="alert alert-warning">PENDING</span>
                                    <button type="button" class="btn btn-outline-danger"
                                            onclick="cancelRequest({{ user.user.id }})">Cancel Request
                                    </button>
                                {% else %}
                                    <button type="button" class="btn btn-primary"
                                            onclick="followSubmitButton({{ user.user.id }})">Follow
                                    </button>
                                {% endif %}
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function followSubmitButton(userId) {
            $.ajax({
                type: "POST",
                data: JSON.stringify({"user_id": userId}),
                url: "/users/",
                success: function (response) {
                    console.log(response)
                    if (response.msg === "Success") {
                        alert("You have successfully Submitted request to follow")
                        window.location.reload()
                    } else {
                        alert(response)
                    }
                }
            })
        }

        function cancelRequest(userId) {
            let data = {"user_id": userId}
            $.ajax({
                type: "POST",
                data: data,
                url: "/following/",
                success: function (response) {
                    if (response.msg === "Success") {
                        alert("You have cancelled Request to follow to user.")
                        window.location.reload()
                    } else {
                        alert(response)
                    }
                }
            })
        }
    </script>
{% endblock %}